<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes">
  <title>GOORGOORLU</title>

  <link rel="stylesheet" type="text/css" href="julia-0.1/julia-0.1.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body class="backapp">
<style type="text/css" >
  
  form>input
  {
    color: gray;
    border:solid 0.5px gray;
  }

input::-webkit-input-placeholder 
{ 
  color: gray;
  
}
input::-moz-placeholder
{ 
  color: gray;
  
}


</style>

   <div class="j_row">
    <div class="j_cont">
      
       <!-- MENU BAR  -->
      <div class="j_s_col12 j_m_col12 j_l_col12 " style="position: fixed;width: 100%;z-index: 999;">
         <ul class="j_menu backblue" style="min-height: 20px;">
           
                <!-- Change .html to .php for web and when performing requests  -->
                    
                    <li class="j_s_col1_5 j__nopad  j_center">
                    <a href="/home.html">
                       <span><img src="img/logomin.png" class="menu_icon logobig"></span>
                       <!-- <span class="apptitle">GOORGOORLU</span>   -->
                    </a></li>

                    <li class="j_s_col1_5 j__nopad j_center">
                    <a href="/main.html">
                       <span><img src="img/iconhome.png" class="menu_icon"></span>  
                    </a></li>   

                    <li class="j_s_col1_5 j__nopad j_center">
                    <a href="/search.html">
                       <span><img src="img/iconsearch.png" class="menu_icon"></span>  
                    </a></li>                

                    <li class="j_s_col1_5 j__nopad j_center">
                    <a href="notifs.html">
                       <span><img src="img/iconnotifs.png" class="menu_icon"></span>  
                    </a></li>

                    <li class="j_s_col1_5 j__nopad  activeItem j_center">
                    <a href="profil.html">
                       <span><img src="img/iconprofil.png" class="menu_icon"></span>  
                    </a></li>
                 

         </ul>
      </div>

       <!-- MENU BAR  -->

     
       <!-- < Inner -->
     <div class="j_s_col12 j_m_col12 j_l_col12"  style="margin-top: 60px;">
        
         <a href="/home.html"><img src="img/backto.png" class="backicon"></a>

      </div>
      <div class="j_s_col12 j_m_col12 j_l_col12 container3">

           <!-- Here go all other contents  -->
               <!--  Prestabox view -->
             
                 <div class="j_s_col10 j_m_col4 j_l_col4 j_s_push1 j_m_push4 j_l_push4 j_center">
                   
                     <h3 style="color: #087792;"> CHANGER DE MOT DE PASSE</h3>
 
                      <hr width="100%" size="0.5" align="center" color="gray">


                         <div class="j_s_col12 j_m_col12 j_l_col12 j_center" style="margin-top: 25px;">
                             
                               <form>
                               
                                  <input type="text" name="oldpword" placeholder="ancien mot de passe">
                                  <input type="text" name="newpword" placeholder="nouveau">
                                  <input type="text" name="newpwordtwo" placeholder="repeter">


                                 <input class="j_submit" type="submit" name="note" value="CHANGER">
                               </form>

                          </div> 
     
 

 
                 </div>  
          

               <!--  Prestabox view -->


        </div>

       <!-- < Inner -->


    </div>
   </div>

<script type="text/javascript" src="julia-0.1/julia-0.1.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>