<!DOCTYPE html>
<html>
<head>
	<title>GOORGOORLU - Le Linkedin des métiers informels</title>
	<link rel="stylesheet" type="text/css" href="css/gss.css">
	<link rel="manifest" href="manifest.json">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<!-- Bloc presentation -->
 <div class="g_row">
 	<div class="g_cont">
 		<div class="g_colfull g_land g_bblue2" style="background-image: url('img/backblue.png');background-size: cover;">
 			
 			<div class="g_header g_colfull g_top" style="z-index: 8;">
 				
 				<img class="g_logo" src="img/logo.png" style="" >
 				<img class="g_logo_min g_hide" src="img/logomin.png" style="" >
 			 
 				<div style="float: right;">
	 				<span class="g_hlink g_cwhite">connexion</span>
	 				<span class="g_hlink g_cwhite">inscription</span> 					
 				</div>

 			</div>

 			<div class="g_inner g_colfull" style="text-align: center;">
 				
 				<h1 class="g_maintext g_cwhite g_center" style="">LE LINKEDIN DES METIERS<br>INFORMELS AU SENEGAL</h1>
 				<span class="g_cwhite g_info1">Pour encore plus de mobilité et de services à votre portée</span><br>
 				<button class="g_down g_brwhite g_cwhite"><span style="font-weight: bold;">TELECHARGER L'APPLI &#x21e3;</span></button>
 				<img class="g_phone" src="img/phoneapp.png" style="z-index: 3;">
 				<img class="g_phoneh" src="img/phoneh.png" style="z-index: 3;">

 				
 			</div>
 		</div>
 		<div style="position: absolute; width: 100%; height: 500px;top: 0;left: 0;z-index: 2" class="g_bblue2op"></div>
 	</div>
 </div>
<!--End Bloc presentation -->


<!-- Bloc Start -->
  <div class="g_row">
 	<div class="g_cont">
 		<div class="g_colfull g_land">
 			
 			<div class="g_header" style="text-align: center;height: 80px;">
 				 <h2 class="g_cgray">PREMIERS PAS</h2>
 			</div>

 			<div class="g_inner g_colfull">
 			 <div class="g_starts g_col9 g_pushl_1 g_bgray2 g_padh1">
	 			 <div class="g_col1_3 g_center">
                     <div class="g_colfull">
                     	<img src="img/start1.png">
                     </div>
                     <div class="g_col8 g_pushl_2 g_center">
                     	<span class="g_capt1 g_cblue2">CREER VOTRE COMPTE</span><br>
                     	<span>Prenez une (01) minute pour créer votre compte et entrer en contact avec notre communauté de prestataires.</span>
                     </div>

	 			 </div>
	 			 <div class="g_col1_3 g_center">
                     <div class="g_colfull">
                     	<img src="img/start2.png">
                     </div>
                     <div class="g_col8 g_pushl_2 g_center">
                     	<span class="g_capt1 g_cblue2">RECHERCHER UN SERVICE</span><br>
                     	<span>Recherchez le service de votre choix le plus proche de vous en un simple clique.</span>
                     </div>

	 			 </div>
	 			 <div class="g_col1_3 g_center">
                     <div class="g_colfull">
                     	<img src="img/start3.png">
                     </div>
                     <div class="g_col8 g_pushl_2 g_center">
                     	<span class="g_capt1 g_cblue2">ETRE VOUS MEME PRESTATAIRE</span><br>
                     	<span>Vous avez une compétence ? Alors ajoutez-la et proposez vous aussi vos services.</span>
                     </div>

	 			 </div>


	 		</div>	

 			</div>
 		</div>
 		 
 	</div>
 </div>



 
 <div class="g_row">
 	<div class="g_cont">
 		<div class="g_com g_colfull g_landt g_bblue2" style="position: relative;background-image: url('img/backcom.png');background-size: cover;">
 			
 			<div class="g_header g_top" style="text-align: center;height: 80px;">
 				 <h2 class="g_cwhite">COMMUNAUTE</h2>
 			</div>
            <div class="g_incrust g_bblackop"></div>
 			<div class="g_inner g_colfull g_top" style="height: 400px">
	 			 <div class="g_col1_4 g_pushlf25 g_center " style="margin-top: 35px;">
		 			 
                       <span class="g_comh g_cwhite" style="">REJOIGNEZ NOS</span><br>
                       <span class="g_comnum g_cwhite">682.307</span><br>
                       <span class="g_comname g_cblue2">" GOORGOORLUKATS "</span><br>

                       <button class="g_join g_brwhite g_cwhite"><span style="font-weight: bold;">CREER UN COMPTE &#x2192;</span></button>


		 		 </div>	

 			</div>
 		</div>
 		 
 	</div>
 </div>



 <div class="g_row">
 	<div class="g_cont">
 		<div class="g_colfull g_landt">
 			
 			<div class="g_header g_top" style="text-align: center;height: 40px;">
 				 <h2 class="g_cblue">QUI SOMMES NOUS ?</h2>
 			</div>
             
 			<div class="g_inner g_colfull g_top" style="height: 440px">
	 			 <div class="g_col1_2 g_pushl_5 g_center " style="margin-top: 35px;">
		 			 
                      <div class="g_colfull">
                      	<span class="g_cgray"">
                      		Nous sommes une Startup informatique du nom de <strong>Escape </strong> évoluant<br>dans les domaines de développement d'applis web & mobile et de transformation digitale.
                      	</span><br><br>
                      	<span class="g_cblue2"><strong>LA TEAM</strong></span>
                        
                        <div class="g_colfull" style="margin-top: 25px;">
                        	 
                        		
                        		<div class="g_col1_3 g_center">
                        			<span><img src="img/member.png"></span><br>
                        			<span class="g_cgray""><strong>Cheikh G. WANE</strong></span><br>
                        			<span class="g_cgray"">CEO, Developpeur</span>
                        		</div>

                        		<div class="g_col1_3 g_center">
                        			<span><img src="img/member.png"></span><br>
                        			<span class="g_cgray""><strong>Shadow</strong></span><br>
                        			<span class="g_cgray"">CTO, Designer & Developpeur</span>
                        		</div>

                        		<div class="g_col1_3 g_center">
                        			<span><img src="img/member.png"></span><br>
                        			<span class="g_cgray""><strong>Elhadj M. THIAM</strong></span><br>
                        			<span class="g_cgray"">CTO Adj. , Developpeur</span>
                        		</div>

                       
                        </div> 


                      </div>

		 		 </div>	

 			</div>
 		</div>
 		 
 	</div>
 </div>


 

 
 <div class="g_row">
 	<div class="g_cont">
 		<div class="g_contact g_colfull g_landt" style="position: relative;background-image: url('img/backcont.png');background-size: cover; height: 500px;">
 		 <div class="g_colfull g_contbig" style="margin-top: 150px;">
	 		 
	 		  <div class="g_col1_2" style="">
	 		  	<img src="img/conticon.png" class="g_conticon">
	 		  </div>	
	 		  <div class="g_col1_2 g_right g_cwhite g_conts" style="margin-top: 40px;">
	 		  	<span><strong>contact@escape.sn</strong></span><br>
	 		  	<span><strong>+221 33 000-00-00</strong></span><br>
	 		  	<span><strong>+221 33 009-08-07</strong></span><br>

	 		  </div>	
	 	       
 		 </div>

 		 <div class="g_colfull g_contmob g_center g_cwhite" style="margin-top: 100px;">
	 		 	
	 		   <span><img src="img/conticon.png"></span><br>
	 		  	<span><strong>Campus ESP, DAKAR-Senegal</strong></span><br>
	 		  	<span><strong>contact@escape.sn</strong></span><br>
	 		  	<span><strong>+221 33 000-00-00</strong></span><br>
	 		  	<span><strong>+221 33 009-08-07</strong></span><br>

	 		 	
	 	       
 		 </div> 		 

 		</div>
 		 
 	</div>
 </div>

   
 
 <div class="g_row">
 	<div class="g_cont">
 		<div class="g_colfull g_footer">
 			
 	       <span class="g_cwhite" style="float: left;margin-top: 40px; font-size: 12px;margin-left: 10px;">Cheikh G. WANE - Shadow - Elhadj M. THIAM</span>
           <span class="g_cwhite" style="float: right;margin-top: 40px; font-size: 12px;margin-right: 10px;">&copy Mars 2017-escape</span>
 		</div>
 		 
 	</div>
 </div>
<!--End Bloc Footer-->


<script type="text/javascript">
	
 
</script>
<script type="text/javascript" src="js/gjs.js"></script>

</body>
</html>