<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes">
	<title>GOORGOORLU</title>

	<link rel="stylesheet" type="text/css" href="julia-0.1/julia-0.1.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
<style type="text/css" >
	


</style>

   <div class="j_row">
   	<div class="j_cont">
   		
       <!-- MENU BAR  -->
   		<div class="j_s_col12 j_m_col12 j_l_col12 ">
   			 <ul class="j_menu backblue" style="min-height: 20px;">
   			 	 
                <!-- Change .html to .php for web and when performing requests  -->
		                
		                <li class="j_s_col1_5 j__nopad">
		                <a href="/home.html">
		                   <img src="img/logomin.png" class="menu_icon logobig">
		                   <!-- <span class="apptitle">GOORGOORLU</span>	 -->
		                </a></li>

		                <li class="j_s_col1_5 j__nopad activeItem j_center">
		                <a href="/main.html">
		                   <span><img src="img/iconhome.png" class="menu_icon"></span>	
		                </a></li>   

		                <li class="j_s_col1_5 j__nopad j_center">
		                <a href="/search.html">
		                   <span><img src="img/iconsearch.png" class="menu_icon"></span>	
		                </a></li>                

		                <li class="j_s_col1_5 j__nopad j_center">
		                <a href="notifs.html">
		                   <span><img src="img/iconnotifs.png" class="menu_icon"></span>	
		                </a></li>

		                <li class="j_s_col1_5 j__nopad j_center">
		                <a href="profil.html">
		                   <span><img src="img/iconprofil.png" class="menu_icon"></span>	
		                </a></li>
                 

   			 </ul>
   		</div>

       <!-- MENU BAR  -->

     
       <!-- < Inner -->

   		<div class="j_s_col12 j_m_col12 j_l_col12 " style="margin-top: 20px;">


                 <!-- Here go all other contents  -->
           

        </div>

       <!-- < Inner -->


   	</div>
   </div>

<script type="text/javascript" src="julia-0.1/julia-0.1.js"></script>
</body>
</html>