<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes">
  <title>GOORGOORLU</title>

  <link rel="stylesheet" type="text/css" href="julia-0.1/julia-0.1.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body class="backapp">
<style type="text/css" >
  


</style>

   <div class="j_row">
    <div class="j_cont">
      
       <!-- MENU BAR  -->
      <div class="j_s_col12 j_m_col12 j_l_col12 " style="position: fixed;width: 100%;z-index: 999;">
         <ul class="j_menu backblue" style="min-height: 20px;">
           
                <!-- Change .html to .php for web and when performing requests  -->
                    
                    <li class="j_s_col1_5 j__nopad  j_center">
                    <a href="/home.html">
                       <span><img src="img/logomin.png" class="menu_icon logobig"></span>
                       <!-- <span class="apptitle">GOORGOORLU</span>   -->
                    </a></li>

                    <li class="j_s_col1_5 j__nopad j_center">
                    <a href="/main.html">
                       <span><img src="img/iconhome.png" class="menu_icon"></span>  
                    </a></li>   

                    <li class="j_s_col1_5 j__nopad j_center">
                    <a href="/search.html">
                       <span><img src="img/iconsearch.png" class="menu_icon"></span>  
                    </a></li>                

                    <li class="j_s_col1_5 j__nopad activeItem j_center">
                    <a href="notifs.html">
                       <span><img src="img/iconnotifs.png" class="menu_icon"></span>  
                       <span class="notifcount" style="position: absolute;">2</span>
                    </a></li>

                    <li class="j_s_col1_5 j__nopad j_center">
                    <a href="profil.html">
                       <span><img src="img/iconprofil.png" class="menu_icon"></span>  
                    </a></li>
                 

         </ul>
      </div>

       <!-- MENU BAR  -->

     
       <!-- < Inner -->

      <div class="j_s_col12 j_m_col12 j_l_col12 container">

           <!-- Here go all other contents  -->
               <!--  Prestabox view -->
            
            


                 <div class="j_s_col10 j_m_col4 j_l_col4 j_s_push1 j_m_push4 j_l_push4">
                   
                  

             
                     <div class="j_cont" style="margin-top: 20px;">
                         
                         <form class="profilform">
                           <input type="text" name="" value="Ndiagus">
                          
                           <div style="width: 80% ; float: left;">
                              <input type="password" name="" value="eeeeeeee">
                           </div>
                        
                           <div style="width: 20% ; float: left;">
                              <img class="pwordchanger" src="img/pwordchanger.png">
                           </div>

                           <input type="mail" name="" value="NdiagaLePresta@man.com">
                           <input type="text" name="" value="Ndiaga">
                           <input type="text" name="" value="FALL">
                           <input type="number" name="" value="773584243">

                           <select>
                             <option>My Address</option>
                             <option>Other address 0</option>
                             <option>Other address 1</option>
                           </select>

                         </form>
                         
                            <hr width="95%" align="center" size="0.5" color="gray">
                          <div class="j_cont j_center">
                             <span class="j_center">NOTES</span><br>
                             <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>

                          </div>
                           
                      </div> 


                      <div class="j_cont fliponother"  style="margin-top: 20px;">
                         <div class="j_dropper" >
                          <div class="j_cont headsearch" style="background-color: #087792;"><span style=""> COMPETENCES </span></div>

                            <span class="j_icon"></span>
                            <div class="j_dropped">
                             
                                <div class="j_cont">
                            
                                  <img class="addbtn" src="img/addbtn.png" style="margin-bottom: 5px;">

                                </div>

                               
                             <div class="j_cont" style="margin-top: 5px;font-weight: bold;color: #087792">
                             
                                 
                                      <span>PLOMBIER</span><br>
                                      <span>QUELQUE CHOSE</span><br>


                             </div>
                                    
                          

                            </div>

                         </div>
                      </div> 







                      <div class="j_cont fliponother"  style="margin-top: 20px;">
                         <div class="j_dropper" >
                          <div class="j_cont headsearch" style="background-color: #087792;"><span style=""> TARIFS</span></div>
                            <span class="j_icon"></span>
                            <div class="j_dropped">
                               
                           
                                  <div class="j_s_col12 j_m_col12 j_l_col12" style="width: 100%">
                                     <span class="seeLeft" style="margin-top: 10px;"><img src="img/prestaprice.png"></span>
                                     <span class="seeLeft seetext min"> 2500/heure (PLOMBIER)</span>
                                   </div>

                                  <div class="j_s_col12 j_m_col12 j_l_col12" style="width: 100%">
                                     <span class="seeLeft" style="margin-top: 10px;"><img src="img/prestaprice.png"></span>
                                     <span class="seeLeft seetext min"> 2500/heure (UNE CHOSE)</span>
                                   </div>



                            </div>

                         </div>
                      </div> 


                      <div class="j_cont fliponother"  style="margin-top: 20px;">
                         <div class="j_dropper" >
                          <div class="j_cont headsearch" style="background-color: #087792;"><span style=""> PRESENTATION</span></div>

                            <span class="j_icon"></span>
                            <div class="j_dropped">
                             
                                <div class="j_cont">
                            
                                  <img class="addbtn" src="img/addbtn.png" style="margin-bottom: 5px;">

                                </div>

                               
                             <div class="j_cont" style="margin-top: 5px;">
                             
                                <a href="">
                                     <div class="j_s_col10 j_m_col10 j_l_col10 j_s_push1 j_m_push1 j_l_push1 prestabox" style="margin-top: 2px;">
                                       
                                         <div class="j_cont prestahead">
                                          <h4>PLOMBIER</h4>
                                         </div>
                                         <div class="j_cont">
                                          <img class="prestaimg" src="img/dk.jpg">
                                         </div>
                                       

                                     </div>  
                                  </a>
                                <a href="">
                                     <div class="j_s_col10 j_m_col10 j_l_col10 j_s_push1 j_m_push1 j_l_push1 prestabox" style="margin-top: 2px;">
                                       
                                         <div class="j_cont prestahead">
                                          <h4>PLOMBIER</h4>
                                         </div>
                                         <div class="j_cont">
                                          <img class="prestaimg" src="img/dk.jpg">
                                         </div>
                                       

                                     </div>  
                                  </a>


                             </div>
                                    
                          

                            </div>

                         </div>






                      </div> 











                 </div>  
              
 
 

               <!--  Prestabox view -->


        </div>

       <!-- < Inner -->


    </div>
   </div>

<script type="text/javascript" src="julia-0.1/julia-0.1.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>