<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes">
  <title>GOORGOORLU</title>

  <link rel="stylesheet" type="text/css" href="julia-0.1/julia-0.1.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
<style type="text/css" >
  


</style>

   <div class="j_row">
    <div class="j_cont">
      
       <!-- < Inner  -->
      <div class="j_s_col12 j_m_col12 j_l_col12 splashbox backblueapp ">
     

                 <div class="j_s_col12 j_m_col12 j_l_col12">
                    
                     <a href="/home.html"><img src="img/backto.png" class="backicon"></a>

                  </div>
                  <div class="j_s_col4 j_m_col2 j_l_col2 j_s_push4 j_m_push5 j_l_push5">
                    
                     <h2 class="c_midwhite">INSCRIPTION</h2>
                     

                  </div>

                  <div class="j_s_col8 j_m_col2 j_l_col2 j_s_push2 j_m_push5 j_l_push5" style="margin-top: 50px;">
                    
                    <form>
                      
                      <select name="profil">
                        <option value="prestataire">prestataire</option>
                        <option value="prestataire">utilisateur</option>
                      </select>


                      <input type="mail" name="mail" placeholder="e-mail">
                      <input type="text" name="fullname" placeholder="nom complet">

                      <input type="text" name="username" placeholder="nom d'utilisateur">
                      <input type="password" name="pword" placeholder="mot de passe"><br><br>
                      

                      <input class="j_submit" type="submit" name="" value="TERMINER">

                    </form>

                  </div>


                  
                    <div class="j_center refs">
                     <a href=""><span class="c_midwhite">conditions </span></a>  -   <a href=""><span class="c_midwhite"> à propos </span></a> 
                    </div>
 



      </div>
       <!-- < Inner -->


    </div>
   </div>

<script type="text/javascript" src="julia-0.1/julia-0.1.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>