<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes">
	<title>GOORGOORLU</title>

	<link rel="stylesheet" type="text/css" href="julia-0.1/julia-0.1.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
<style type="text/css" >
	


</style>

   <div class="j_row">
   	<div class="j_cont">
   	 
     
       <!-- < Splashcreen-->

   		<div class="j_s_col12 j_m_col12 j_l_col12 splashbox backblueapp">


                 <!-- Here go all other contents  -->

                  <div class="j_s_col6 j_m_col2 j_l_col2 j_s_push3 j_m_push5 j_l_push5">
                  	
                      <img class="splashimg" src="img/splashsvg.svg">

                  </div>
           

        </div>

       <!-- < Splashcreen -->


   	</div>
   </div>

<script type="text/javascript" src="julia-0.1/julia-0.1.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>